<div class="col-xs-12">
    <div class="card">
        <div class="card-header">
            Titulo do Livro
        </div>
        <div class="card-block">
            <div class="card-img">
                <img src="/images/Baixar-Livro-It-A-Coisa-Stephen-King-em-ePUB-mobi-e-PDF-174x270.jpg" />
            </div>
        </div>
        <div class="card-footer">
            <button class="btn btn-sm btn-link">Ler Online</button>
            <button class="btn btn-sm btn-link">Baixar</button>
        </div>
    </div>
</div>